<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>company home</title>
</head>
<body>
 <h2>home page</h2>
<hr>
 <p>
    welcome to company home page
 </p>
 <hr>
    <!-- display user id -->
    <p>
        User: <span sec:authentication="principal.username"></span>
        <br><br>
        Role(s): <span sec:authentication="principal.authorities"></span>
    </p>
 <div sec:authorize="hasRole('MANAGER')">
    <!-- add a link to point /leaders .. this is for managers-->
 <p>
        <a th:href="@{/leaders}">Leardership Meeting</a>
        (Only for manager peeps)
 </p>
 </div>

 <!-- add a link to point /systems .. this is for admin-->
<div sec:authorize="hasRole('ADMIN')">
    <p>
 <a th:href="@{/systems}">IT Systems Meeting</a>
        (Only for admin peeps)
    </p>
</div>
 <hr>
    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout" />
    </form>
</body>
</html>